---
import Logo from '@components/Logo.astro';
import { siteConfig } from '@data/config';
import ContactInfo from '@components/sections/ContactInfo.astro'

interface Props {
  footerCta?: {
    title: string;
    description: string;
    hideCta: boolean;
  };
}

const { footerCta } = Astro.props;

const defaultCta = {
  title: "Ready to get started?",
  description: "Join us today and transform your digital presence with our innovative solutions.",
  hideCta: false,
  button: {
    text: "Contact Us",
    link: "/contact",
    target: "_self"
  }
};

const cta = footerCta || defaultCta;
const currentYear = new Date().getFullYear();
---

<footer id="contacto" class={`bg-primary text-white pb-small ${cta.hideCta ? 'pt-large' : ''}`}>
  <div class="site-container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 pb-8 border-b border-background-light items-center">
      <div class="col-span-1">
        <ContactInfo/>
      </div>
      
      <div class="col-span-1 place-items-center">
        <Logo variant="footer" />
        <p class="block mt-4 text-white">
          2025 crecemos juntos
        </p>
      </div>
      
    </div>

    <div class="text-body-dark text-sm text-center py-5">
      © {currentYear} {siteConfig.companyName}. All rights reserved.
    </div>
  </div>
</footer>